.container {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    font-size: 18px;
}

.container img {
    padding-top: 5px;
    padding-left: 3.5px;
}

.container p:nth-child(1) {
    color: var(--theme-dark);
}

.container p:nth-child(1):hover {
    cursor: pointer;
    text-decoration: underline;
}

.container p:nth-child(3) {
    color: var(--theme-pink);
}