.section {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.section span {
    width: 25px;
    height: 25px;
    color: var(--theme-dark);
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
}

.section span:nth-of-type(1), .section span:active {
    background-color: var(--theme-pink);
    color: white;
}

.section span:hover {
    cursor: pointer;
}

.section img {
    padding-top: 2px;
}

.section img:nth-child(1) {
    transform: rotateY(180deg);
}

.section img:hover {
    cursor: pointer;
}