.section {
    height: 80px;
    background-color: var(--theme-gray);
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    width: 80%;
}

.searchbar {
    width: 422px;
    height: 40px;
    color: var(--theme-dark);
    border: 2px solid var(--theme-dark-gray);
    border-radius: 3px;
    font-size: 16px;
    padding: 0 10px;
}

.searchbar::placeholder {
    font-style: italic;
}

.container button {
    border-radius: 3px;
    height: 40px;
    width: 129px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    color: white;
}

.search_button {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    background-color: var(--theme-green);
}

.cancel_button {
    border-radius: 3px;
    background-color: var(--theme-pink);
}